# Gateway Service Configuration
GATEWAY_PORT=5000

# Microservices Ports
AUTH_SERVICE_PORT=6001
MOCK_INTERVIEW_SERVICE_PORT=6002
ROOM_INTERVIEW_SERVICE_PORT=6003
LIVE_INTERVIEW_SERVICE_PORT=6004

# CORS Configuration
CLIENT_URL=http://localhost:4001

# Node Environment
NODE_ENV=development